#U12mypass,#U12myname{
    border:none;
    border-bottom: 1px solid black;
    height: 50%;
    width: 60%;
    box-shadow: none;
    outline: none;
}
#U12btn{
    width: 100px;
    border-radius: 20px;
}