.switch {
    position: relative;
    margin-left: 350px;
    display: inline-block;
    width: 60px;
    height: 22px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d2e2f9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #8fb7f0;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
    box-shadow:  -4px 0px 3px 1px #19364D;
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 19px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  /* slider image of Padlock */
  .slider-img{
    position: absolute;
    cursor: pointer;
    height: 12px;
    top: 4px;
    left: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked ~ .slider-img {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
  }