.box-inactive {
    position: relative;
    height: 120px;
    box-shadow: inset -6px 0 6px -6px #333;
}
.box-active {
    position: relative;
    box-shadow: none;
    height: 120px;
    background-color: white;
}
.search-box {
    width: 200px;
    border-radius: 20px;
    /* border: 1px solid black; */
    background-color: #f5f5ee;
}
.search-input {
    width: 170px;
    border: none;
    border-radius: 20px;
    /* padding-left: 10px; */
    height: 25px;
    background-color: #f5f5ee;
    padding: 15px 5px 15px 10px;
    font-size: 1rem;
}
.search-input:focus {
    outline: none;
}
.search-box:focus-within{
    box-shadow: 0 0 1px 1px black;
}
.search-icon {
    width: 15px;
    margin: 0 5px;
}

#cond-table::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#cond-table::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#cond-table::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}
.cursor{
    cursor: pointer;
}
.stickyTableHeading {
    position: sticky !important;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.customTab {
    border: 1px solid black;
    padding: 0.75rem 1.5rem 0 1.5rem;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    font-size: 1rem;
    font-weight: 600;
    float: right;
    margin: 0 1rem;
}
.font-color-red {
    color: red
}
.font-color-green {
    color: green
}