.search-center {
    position: absolute;
    margin-left: 40%;
    width: 200px;
    text-align:center;
    border: none;
    border-radius: 20px;
    height: 25px;
    background-color: #f5f5ee;
    padding: 15px 5px 15px 10px;
    font-size: 1rem;

}
.search-center:focus {
    outline: none;
}

.tableHeading {
    position: sticky !important;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

